# 对表中的空值进行处理

In [61]:
import pandas as pd
df1 = pd.DataFrame([{'col1':'a', 'col2':None}, 
                    {'col1':'b', 'col2':2}])
df2 = pd.DataFrame([{'col1':'a', 'col3':11}, {'col1':'c', 'col3':33}])
 
data = pd.merge(left=df1, right=df2, how='left', left_on='col1', right_on='col1')
print(data)

  col1  col2  col3
0    a   NaN  11.0
1    b   2.0   NaN

输出含有空值的数据

In [22]:
df_null = data[data["col3"].isnull()]
print(df_null)

  col1  col2  col3
1    b   2.0   NaN

In [24]:
# df_null = data[data["col3","col2"].isnull()]
df_null = data[data[['col3','col2']].isnull().values==True]#.drop_duplicates()
print(df_null)

  col1  col2  col3
0    a   NaN  11.0
1    b   2.0   NaN

In [26]:
df_not_null = data[data[['col3','col2']].notnull().values==True]#.drop_duplicates()
print(df_not_null)

  col1  col2  col3
0    a   NaN  11.0
1    b   2.0   NaN

In [72]:
df = pd.DataFrame([{'col1':'a', 'col2':None,'col3':11},
                    {'col1':'c', 'col2':2,'col3':33},
                    {'col1':'c', 'col2':2,'col3':None},
                   {'col1':'c', 'col2':2,'col3':33}])
print(df)
# s = "col1,col3"
s = "col2,col3"
# s = "col3"
c = s.split(",")
print(c)
# data[data[[c]].notnull()]
print(df[c].notnull())
print("===========")
print(df[c].notnull().any())
print("===========")
print(df[c].notnull().values==True)
print("=====输出不含空值的数据======")
print(df[df[c].notnull().values==True])
print("=====drop_duplicates======")
print(df[df[c].notnull().values==True].drop_duplicates())
print("=======输出含有空值的数据====")
print(df[df[c].notnull().values==False])
print("=====duplicated======")
# print(df[df[df[c].notnull().values==True].duplicated()])
print(df[df.duplicated()])
print("=====df2 duplicated======")
df2 = df[df[c].notnull().values==True]
print(df2)
print("----------")
print(df2[df2.duplicated()])

  col1  col2  col3
0    a   NaN  11.0
1    c   2.0  33.0
2    c   2.0   NaN
3    c   2.0  33.0
['col2', 'col3']
    col2   col3
0  False   True
1   True   True
2   True  False
3   True   True
===========
col2    True
col3    True
dtype: bool
===========
[[False  True]
 [ True  True]
 [ True False]
 [ True  True]]
=====输出不含空值的数据======
  col1  col2  col3
0    a   NaN  11.0
1    c   2.0  33.0
1    c   2.0  33.0
2    c   2.0   NaN
3    c   2.0  33.0
3    c   2.0  33.0
=====drop_duplicates======
  col1  col2  col3
0    a   NaN  11.0
1    c   2.0  33.0
2    c   2.0   NaN
===========
  col1  col2  col3
0    a   NaN  11.0
2    c   2.0   NaN
=====duplicated======
  col1  col2  col3
3    c   2.0  33.0
=====df2 duplicated======
  col1  col2  col3
0    a   NaN  11.0
1    c   2.0  33.0
1    c   2.0  33.0
2    c   2.0   NaN
3    c   2.0  33.0
3    c   2.0  33.0
----------
  col1  col2  col3
1    c   2.0  33.0
3    c   2.0  33.0
3    c   2.0  33.0

In [57]:
s = "col1,col3"
c = s.split(",")
print(c)
# data[data[[c]].notnull()]
print(data[c].isnull())
print("===========")
print(data[c].isnull().any())
print("===========")
print(data[c].isnull().values==True)
print("===========")
print(data[data[c].isnull().values==True])
print("===========")
print(data[data[c].isnull().values==False])

['col1', 'col3']
    col1   col3
0  False  False
1  False   True
===========
col1    False
col3     True
dtype: bool
===========
[[False False]
 [False  True]]
===========
  col1  col2  col3
1    b   2.0   NaN
===========
  col1  col2  col3
0    a   NaN  11.0
0    a   NaN  11.0
1    b   2.0   NaN

In [48]:
l1 = ["col3","col2"]
data[data[l1].isnull()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

输出不含有空值的数据

In [19]:
df_not_null = data[data["col3"].notnull()]
print(df_not_null)

  col1  col2  col3
0    a   NaN  11.0

In [9]:
df_not_null = df[df["VIN"].notnull()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>1</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>2</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
data[data.notnull()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>1</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>2</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
data[data.notnull("col3")]

TypeError: notnull() takes 1 positional argument but 2 were given

In [3]:
data={'col1':['a','b','c'],'col2':[1,"a",3]}
df = pd.DataFrame(data)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>a</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df1 = df[df["col1"].str.contains("a")]
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df1 = df[df.contains("a")]
df1

AttributeError: 'DataFrame' object has no attribute 'contains'