#  交叉表和透视表

> 参考链接
> Pyhton科学计算工具Pandas（十）—— 透视表和交叉表.ipynb
> <https://blog.csdn.net/ICERON/article/details/79736548>
>
> 如何用Python来处理数据表的长宽转换（图文详解）
> <https://www.cnblogs.com/zlslch/p/8644585.html>

In [1]:
import pandas as pd
import numpy as np


mydata=pd.DataFrame({
"Name":["苹果","谷歌","脸书","亚马逊","腾讯"],
"Conpany":["Apple","Google","Facebook","Amozon","Tencent"],
"Sale2013":[5000,3500,2300,2100,3100],
"Sale2014":[5050,3800,2900,2500,3300],
"Sale2015":[5050,3800,2900,2500,3300],
"Sale2016":[5050,3800,2900,2500,3300]
       })



mydata1=mydata.melt(
id_vars=["Name","Conpany"],   #要保留的主字段
var_name="Year",                     #拉长的分类变量
value_name="Sale"                  #拉长的度量值名称
        )

In [2]:
mydata1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Conpany</th>
      <th>Year</th>
      <th>Sale</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>苹果</td>
      <td>Apple</td>
      <td>Sale2013</td>
      <td>5000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>谷歌</td>
      <td>Google</td>
      <td>Sale2013</td>
      <td>3500</td>
    </tr>
    <tr>
      <th>2</th>
      <td>脸书</td>
      <td>Facebook</td>
      <td>Sale2013</td>
      <td>2300</td>
    </tr>
    <tr>
      <th>3</th>
      <td>亚马逊</td>
      <td>Amozon</td>
      <td>Sale2013</td>
      <td>2100</td>
    </tr>
    <tr>
      <th>4</th>
      <td>腾讯</td>
      <td>Tencent</td>
      <td>Sale2013</td>
      <td>3100</td>
    </tr>
    <tr>
      <th>5</th>
      <td>苹果</td>
      <td>Apple</td>
      <td>Sale2014</td>
      <td>5050</td>
    </tr>
    <tr>
      <th>6</th>
      <td>谷歌</td>
      <td>Google</td>
      <td>Sale2014</td>
      <td>3800</td>
    </tr>
    <tr>
      <th>7</th>
      <td>脸书</td>
      <td>Facebook</td>
      <td>Sale2014</td>
      <td>2900</td>
    </tr>
    <tr>
      <th>8</th>
      <td>亚马逊</td>
      <td>Amozon</td>
      <td>Sale2014</td>
      <td>2500</td>
    </tr>
    <tr>
      <th>9</th>
      <td>腾讯</td>
      <td>Tencent</td>
      <td>Sale2014</td>
      <td>3300</td>
    </tr>
    <tr>
      <th>10</th>
      <td>苹果</td>
      <td>Apple</td>
      <td>Sale2015</td>
      <td>5050</td>
    </tr>
    <tr>
      <th>11</th>
      <td>谷歌</td>
      <td>Google</td>
      <td>Sale2015</td>
      <td>3800</td>
    </tr>
    <tr>
      <th>12</th>
      <td>脸书</td>
      <td>Facebook</td>
      <td>Sale2015</td>
      <td>2900</td>
    </tr>
    <tr>
      <th>13</th>
      <td>亚马逊</td>
      <td>Amozon</td>
      <td>Sale2015</td>
      <td>2500</td>
    </tr>
    <tr>
      <th>14</th>
      <td>腾讯</td>
      <td>Tencent</td>
      <td>Sale2015</td>
      <td>3300</td>
    </tr>
    <tr>
      <th>15</th>
      <td>苹果</td>
      <td>Apple</td>
      <td>Sale2016</td>
      <td>5050</td>
    </tr>
    <tr>
      <th>16</th>
      <td>谷歌</td>
      <td>Google</td>
      <td>Sale2016</td>
      <td>3800</td>
    </tr>
    <tr>
      <th>17</th>
      <td>脸书</td>
      <td>Facebook</td>
      <td>Sale2016</td>
      <td>2900</td>
    </tr>
    <tr>
      <th>18</th>
      <td>亚马逊</td>
      <td>Amozon</td>
      <td>Sale2016</td>
      <td>2500</td>
    </tr>
    <tr>
      <th>19</th>
      <td>腾讯</td>
      <td>Tencent</td>
      <td>Sale2016</td>
      <td>3300</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
df1 = mydata1.pivot_table(
index=["Name","Conpany"],    #行索引（可以使多个类别变量）
columns=["Year"],                   #列索引（可以使多个类别变量）
values=["Sale"]                       #值（一般是度量指标）
     )
print(df1)

                  Sale
Year          Sale2013 Sale2014 Sale2015 Sale2016
Name Conpany
亚马逊  Amozon       2100     2500     2500     2500
脸书   Facebook     2300     2900     2900     2900
腾讯   Tencent      3100     3300     3300     3300
苹果   Apple        5000     5050     5050     5050
谷歌   Google       3500     3800     3800     3800

In [7]:
df1.query('Name == ["苹果"]')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="4" halign="left">Sale</th>
    </tr>
    <tr>
      <th></th>
      <th>Year</th>
      <th>Sale2013</th>
      <th>Sale2014</th>
      <th>Sale2015</th>
      <th>Sale2016</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Conpany</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>苹果</th>
      <th>Apple</th>
      <td>5000</td>
      <td>5050</td>
      <td>5050</td>
      <td>5050</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
df1.query('Name == ["苹果"]')["Sale"]["Sale2013"]

Name  Conpany
苹果    Apple      5000
Name: Sale2013, dtype: int64

In [22]:
t1 = df1.query('Name == ["苹果"]')
t1["Sale"]["Sale2013"]

Name  Conpany
苹果    Apple      5000
Name: Sale2013, dtype: int64

In [12]:
df1.query('Conpany == ["Amozon"]')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="4" halign="left">Sale</th>
    </tr>
    <tr>
      <th></th>
      <th>Year</th>
      <th>Sale2013</th>
      <th>Sale2014</th>
      <th>Sale2015</th>
      <th>Sale2016</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Conpany</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>亚马逊</th>
      <th>Amozon</th>
      <td>2100</td>
      <td>2500</td>
      <td>2500</td>
      <td>2500</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
df1["Sale"]["Sale2013"]

Name  Conpany
亚马逊   Amozon      2100
脸书    Facebook    2300
腾讯    Tencent     3100
苹果    Apple       5000
谷歌    Google      3500
Name: Sale2013, dtype: int64

In [2]:
# 透视表：pivot_table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')

date = ['2017-5-1','2017-5-2','2017-5-3']*3
rng = pd.to_datetime(date)
df = pd.DataFrame({'date':rng,
                   'key':list('abcdabcda'),
                  'values':np.random.rand(9)*10})
print(df)
print('-----')

print(pd.pivot_table(df, values = 'values', index = 'date', columns = 'key', aggfunc=np.sum))  # 也可以写 aggfunc='sum'
print('-----')
# data：DataFrame对象
# values：要聚合的列或列的列表
# index：数据透视表的index，从原数据的列中筛选
# columns：数据透视表的columns，从原数据的列中筛选
# aggfunc：用于聚合的函数，默认为numpy.mean，支持numpy计算方法

print(pd.pivot_table(df, values = 'values', index = ['date','key'], aggfunc=len))
print('-----')
# 这里就分别以date、key共同做数据透视，值为values：统计不同（date，key）情况下values的平均值
# aggfunc=len(或者count)：计数

        date key    values
0 2017-05-01   a  9.818276
1 2017-05-02   b  2.368267
2 2017-05-03   c  5.087793
3 2017-05-01   d  1.204128
4 2017-05-02   a  2.535132
5 2017-05-03   b  2.128468
6 2017-05-01   c  6.495925
7 2017-05-02   d  9.830173
8 2017-05-03   a  9.661073
-----
key                a         b         c         d
date
2017-05-01  9.818276       NaN  6.495925  1.204128
2017-05-02  2.535132  2.368267       NaN  9.830173
2017-05-03  9.661073  2.128468  5.087793       NaN
-----
                values
date       key
2017-05-01 a       1.0
           c       1.0
           d       1.0
2017-05-02 a       1.0
           b       1.0
           d       1.0
2017-05-03 a       1.0
           b       1.0
           c       1.0
-----

In [4]:
# 交叉表：crosstab
# 默认情况下，crosstab计算因子的频率表，比如用于str的数据透视分析
# pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False)

df = pd.DataFrame({'A': [1, 2, 2, 2, 2],
                   'B': [3, 3, 4, 4, 4],
                   'C': [1, 1, np.nan, 1, 1]})
print(df)
print('-----')

print(pd.crosstab(df['A'],df['B']))
print('-----频率表')
# 如果crosstab只接收两个Series，它将提供一个频率表。
# 用A的唯一值，统计B唯一值的出现次数

print(pd.crosstab(df['A'],df['B'],normalize=True))
print('-----归一化')
# normalize：默认False，将所有值除以值的总和进行归一化 → 为True时候显示百分比

print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum))
print('-----求和')
# values：可选，根据因子聚合的值数组
# aggfunc：可选，如果未传递values数组，则计算频率表，如果传递数组，则按照指定计算
# 这里相当于以A和B界定分组，计算出每组中第三个系列C的值

print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum, margins=True))
print('-----')
# margins：布尔值，默认值False，添加行/列边距（小计）

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0
-----
B  3  4
A
1  1  0
2  1  3
-----频率表
B    3    4
A
1  0.2  0.0
2  0.2  0.6
-----归一化
B    3    4
A
1  1.0  NaN
2  1.0  2.0
-----求和
B      3    4  All
A
1    1.0  NaN  1.0
2    1.0  2.0  3.0
All  2.0  2.0  4.0
-----

In [23]:
import pandas as pd
import pymysql
import numpy as np
from sqlalchemy import create_engine

from datetime import datetime



## 加上字符集参数，防止中文乱码
dbconn = pymysql.connect(
    host="localhost",  # 127.0.0.1
    database="gongdan",
    user="root",
    password="root",
    port=3306,
    charset='utf8'
)
table = "country_data_export"
# sql语句
sqlcmd = "select * from " + table

# 利用pandas 模块导入mysql数据
df = pd.read_sql(sqlcmd, dbconn)

In [32]:
pd.pivot_table(df, values=['USD', 'RMB'], index=['MONTH', 'COUNTRY'], 
                     columns=['YEAR'], aggfunc=np.sum)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="5" halign="left">RMB</th>
      <th colspan="5" halign="left">USD</th>
    </tr>
    <tr>
      <th></th>
      <th>YEAR</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
    </tr>
    <tr>
      <th>MONTH</th>
      <th>COUNTRY</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="30" valign="top">1</th>
      <th>不丹</th>
      <td>NaN</td>
      <td>173400.0</td>
      <td>NaN</td>
      <td>348737.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26831.0</td>
      <td>NaN</td>
      <td>52629.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>东帝汶</th>
      <td>6944634.0</td>
      <td>6766136.0</td>
      <td>11195538.0</td>
      <td>9417091.0</td>
      <td>7895342.0</td>
      <td>1133741.0</td>
      <td>1049125.0</td>
      <td>1618830.0</td>
      <td>1425363.0</td>
      <td>1144017.0</td>
    </tr>
    <tr>
      <th>中非</th>
      <td>301833.0</td>
      <td>703315.0</td>
      <td>699391.0</td>
      <td>NaN</td>
      <td>1731747.0</td>
      <td>49370.0</td>
      <td>109060.0</td>
      <td>101185.0</td>
      <td>NaN</td>
      <td>251455.0</td>
    </tr>
    <tr>
      <th>丹麦</th>
      <td>544728586.0</td>
      <td>386098895.0</td>
      <td>582307220.0</td>
      <td>668972455.0</td>
      <td>682778308.0</td>
      <td>89007618.0</td>
      <td>59843878.0</td>
      <td>83962790.0</td>
      <td>101355679.0</td>
      <td>98972448.0</td>
    </tr>
    <tr>
      <th>乌克兰</th>
      <td>153671817.0</td>
      <td>171862440.0</td>
      <td>316436457.0</td>
      <td>285414271.0</td>
      <td>294182123.0</td>
      <td>25114691.0</td>
      <td>26688529.0</td>
      <td>45677465.0</td>
      <td>43203781.0</td>
      <td>42679584.0</td>
    </tr>
    <tr>
      <th>乌兹别克斯坦</th>
      <td>120249540.0</td>
      <td>57046705.0</td>
      <td>114381919.0</td>
      <td>131317079.0</td>
      <td>194668633.0</td>
      <td>19634354.0</td>
      <td>8886125.0</td>
      <td>16541216.0</td>
      <td>19855106.0</td>
      <td>28181957.0</td>
    </tr>
    <tr>
      <th>乌干达</th>
      <td>22206908.0</td>
      <td>28885302.0</td>
      <td>28036710.0</td>
      <td>42655369.0</td>
      <td>29333814.0</td>
      <td>3628639.0</td>
      <td>4491276.0</td>
      <td>4042354.0</td>
      <td>6450808.0</td>
      <td>4252166.0</td>
    </tr>
    <tr>
      <th>乌拉圭</th>
      <td>75668126.0</td>
      <td>72688769.0</td>
      <td>76845104.0</td>
      <td>49110418.0</td>
      <td>53208527.0</td>
      <td>12365128.0</td>
      <td>11265974.0</td>
      <td>11085350.0</td>
      <td>7430304.0</td>
      <td>7718721.0</td>
    </tr>
    <tr>
      <th>乍得</th>
      <td>11079213.0</td>
      <td>821342.0</td>
      <td>1421743.0</td>
      <td>7540813.0</td>
      <td>13115123.0</td>
      <td>1810166.0</td>
      <td>127505.0</td>
      <td>204601.0</td>
      <td>1141337.0</td>
      <td>1904345.0</td>
    </tr>
    <tr>
      <th>也门</th>
      <td>57379520.0</td>
      <td>41747344.0</td>
      <td>64604730.0</td>
      <td>48191372.0</td>
      <td>118327914.0</td>
      <td>9373234.0</td>
      <td>6481574.0</td>
      <td>9322066.0</td>
      <td>7298678.0</td>
      <td>17144180.0</td>
    </tr>
    <tr>
      <th>亚洲其他国家(地区)</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2140215.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>307944.0</td>
    </tr>
    <tr>
      <th>亚美尼亚</th>
      <td>2427868.0</td>
      <td>3405888.0</td>
      <td>6481367.0</td>
      <td>8473200.0</td>
      <td>15992859.0</td>
      <td>396170.0</td>
      <td>529595.0</td>
      <td>933761.0</td>
      <td>1281840.0</td>
      <td>2321566.0</td>
    </tr>
    <tr>
      <th>以色列</th>
      <td>320131245.0</td>
      <td>328575822.0</td>
      <td>483202712.0</td>
      <td>366415072.0</td>
      <td>475913002.0</td>
      <td>52318437.0</td>
      <td>51038291.0</td>
      <td>69721779.0</td>
      <td>55447967.0</td>
      <td>69058428.0</td>
    </tr>
    <tr>
      <th>伊拉克</th>
      <td>290797181.0</td>
      <td>205341236.0</td>
      <td>329948995.0</td>
      <td>268451057.0</td>
      <td>347573163.0</td>
      <td>47514062.0</td>
      <td>31858673.0</td>
      <td>47583467.0</td>
      <td>40631638.0</td>
      <td>50392589.0</td>
    </tr>
    <tr>
      <th>伊朗</th>
      <td>636617412.0</td>
      <td>543233524.0</td>
      <td>762500344.0</td>
      <td>583612951.0</td>
      <td>378617913.0</td>
      <td>103475891.0</td>
      <td>84240967.0</td>
      <td>110181220.0</td>
      <td>88569792.0</td>
      <td>54996801.0</td>
    </tr>
    <tr>
      <th>伯利兹</th>
      <td>1749621.0</td>
      <td>2087290.0</td>
      <td>2751942.0</td>
      <td>2467166.0</td>
      <td>4354326.0</td>
      <td>285773.0</td>
      <td>322885.0</td>
      <td>396475.0</td>
      <td>373127.0</td>
      <td>631314.0</td>
    </tr>
    <tr>
      <th>佛得角</th>
      <td>2952571.0</td>
      <td>3552385.0</td>
      <td>4869069.0</td>
      <td>12791926.0</td>
      <td>4570268.0</td>
      <td>477086.0</td>
      <td>550822.0</td>
      <td>707606.0</td>
      <td>1946434.0</td>
      <td>662675.0</td>
    </tr>
    <tr>
      <th>俄罗斯联邦</th>
      <td>1122079434.0</td>
      <td>1270743641.0</td>
      <td>3048256951.0</td>
      <td>1882993996.0</td>
      <td>2191414450.0</td>
      <td>183623724.0</td>
      <td>197222867.0</td>
      <td>439448898.0</td>
      <td>285094023.0</td>
      <td>317852895.0</td>
    </tr>
    <tr>
      <th>保加利亚</th>
      <td>41755748.0</td>
      <td>39327126.0</td>
      <td>64302206.0</td>
      <td>55075540.0</td>
      <td>59808024.0</td>
      <td>6818663.0</td>
      <td>6101059.0</td>
      <td>9294121.0</td>
      <td>8337201.0</td>
      <td>8682969.0</td>
    </tr>
    <tr>
      <th>克罗地亚</th>
      <td>40585915.0</td>
      <td>23896583.0</td>
      <td>47477958.0</td>
      <td>51170069.0</td>
      <td>70226073.0</td>
      <td>6621855.0</td>
      <td>3708980.0</td>
      <td>6849946.0</td>
      <td>7747710.0</td>
      <td>10183412.0</td>
    </tr>
    <tr>
      <th>冈比亚</th>
      <td>50653272.0</td>
      <td>48274709.0</td>
      <td>36851043.0</td>
      <td>96231044.0</td>
      <td>109340086.0</td>
      <td>8276022.0</td>
      <td>7494679.0</td>
      <td>5323605.0</td>
      <td>14570943.0</td>
      <td>15857108.0</td>
    </tr>
    <tr>
      <th>冰岛</th>
      <td>3492602.0</td>
      <td>2428172.0</td>
      <td>5773255.0</td>
      <td>4720008.0</td>
      <td>7206207.0</td>
      <td>568900.0</td>
      <td>377244.0</td>
      <td>832756.0</td>
      <td>714299.0</td>
      <td>1044528.0</td>
    </tr>
    <tr>
      <th>几内亚</th>
      <td>40476975.0</td>
      <td>59469308.0</td>
      <td>118261779.0</td>
      <td>136888267.0</td>
      <td>137772677.0</td>
      <td>6615488.0</td>
      <td>9228422.0</td>
      <td>17079394.0</td>
      <td>20723877.0</td>
      <td>19972186.0</td>
    </tr>
    <tr>
      <th>几内亚比绍</th>
      <td>119192.0</td>
      <td>50408.0</td>
      <td>433195.0</td>
      <td>1271656.0</td>
      <td>2118360.0</td>
      <td>19496.0</td>
      <td>7800.0</td>
      <td>62340.0</td>
      <td>192469.0</td>
      <td>307596.0</td>
    </tr>
    <tr>
      <th>列支敦士登</th>
      <td>NaN</td>
      <td>11903.0</td>
      <td>NaN</td>
      <td>131282.0</td>
      <td>5495.0</td>
      <td>NaN</td>
      <td>1842.0</td>
      <td>NaN</td>
      <td>19899.0</td>
      <td>791.0</td>
    </tr>
    <tr>
      <th>刚果(布)</th>
      <td>100500954.0</td>
      <td>44769352.0</td>
      <td>32607371.0</td>
      <td>42894226.0</td>
      <td>20381588.0</td>
      <td>16413459.0</td>
      <td>6939846.0</td>
      <td>4707580.0</td>
      <td>6490819.0</td>
      <td>2956194.0</td>
    </tr>
    <tr>
      <th>刚果(金)</th>
      <td>93675522.0</td>
      <td>37753024.0</td>
      <td>57627925.0</td>
      <td>69186627.0</td>
      <td>63587280.0</td>
      <td>15309251.0</td>
      <td>5867471.0</td>
      <td>8332318.0</td>
      <td>10466911.0</td>
      <td>9218896.0</td>
    </tr>
    <tr>
      <th>利比亚</th>
      <td>43825000.0</td>
      <td>50397450.0</td>
      <td>211634761.0</td>
      <td>40625002.0</td>
      <td>126991353.0</td>
      <td>7159961.0</td>
      <td>7839007.0</td>
      <td>30489174.0</td>
      <td>6147858.0</td>
      <td>18421751.0</td>
    </tr>
    <tr>
      <th>利比里亚</th>
      <td>20583436.0</td>
      <td>18434393.0</td>
      <td>155903630.0</td>
      <td>18063213.0</td>
      <td>23707182.0</td>
      <td>3318500.0</td>
      <td>2872679.0</td>
      <td>22439978.0</td>
      <td>2734042.0</td>
      <td>3438664.0</td>
    </tr>
    <tr>
      <th>前南马其顿</th>
      <td>4373026.0</td>
      <td>4499403.0</td>
      <td>5156039.0</td>
      <td>4231995.0</td>
      <td>10526159.0</td>
      <td>714346.0</td>
      <td>697590.0</td>
      <td>744186.0</td>
      <td>639709.0</td>
      <td>1527497.0</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="30" valign="top">9</th>
      <th>蒙特塞拉特</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>124769.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>18120.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>西撒哈拉</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>西班牙</th>
      <td>813158117.0</td>
      <td>941762031.0</td>
      <td>852336031.0</td>
      <td>1193044781.0</td>
      <td>NaN</td>
      <td>128735315.0</td>
      <td>142218938.0</td>
      <td>127614167.0</td>
      <td>174362962.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>诺福克岛</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>贝宁</th>
      <td>213741531.0</td>
      <td>144233856.0</td>
      <td>211831365.0</td>
      <td>244532015.0</td>
      <td>NaN</td>
      <td>33787951.0</td>
      <td>21734358.0</td>
      <td>31680335.0</td>
      <td>35718195.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>赞比亚</th>
      <td>31557132.0</td>
      <td>18762860.0</td>
      <td>46310108.0</td>
      <td>38502221.0</td>
      <td>NaN</td>
      <td>5054792.0</td>
      <td>2832634.0</td>
      <td>6915862.0</td>
      <td>5606118.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>赤道几内亚</th>
      <td>8044454.0</td>
      <td>8392556.0</td>
      <td>30394136.0</td>
      <td>9379857.0</td>
      <td>NaN</td>
      <td>1280171.0</td>
      <td>1266117.0</td>
      <td>4516534.0</td>
      <td>1372687.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>越南</th>
      <td>1272413855.0</td>
      <td>1481604949.0</td>
      <td>1772777841.0</td>
      <td>2514959425.0</td>
      <td>NaN</td>
      <td>200113422.0</td>
      <td>223823777.0</td>
      <td>264999476.0</td>
      <td>366948159.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿塞拜疆</th>
      <td>10555996.0</td>
      <td>23142431.0</td>
      <td>21069946.0</td>
      <td>58290772.0</td>
      <td>NaN</td>
      <td>1683106.0</td>
      <td>3485250.0</td>
      <td>3144661.0</td>
      <td>8501661.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿富汗</th>
      <td>28784283.0</td>
      <td>28794637.0</td>
      <td>29991967.0</td>
      <td>41352191.0</td>
      <td>NaN</td>
      <td>4541557.0</td>
      <td>4346465.0</td>
      <td>4481351.0</td>
      <td>6013709.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿尔及利亚</th>
      <td>269212826.0</td>
      <td>262341241.0</td>
      <td>180811126.0</td>
      <td>367843014.0</td>
      <td>NaN</td>
      <td>42638459.0</td>
      <td>39573485.0</td>
      <td>27051414.0</td>
      <td>53780602.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿尔巴尼亚</th>
      <td>15140127.0</td>
      <td>18843886.0</td>
      <td>22422167.0</td>
      <td>28149683.0</td>
      <td>NaN</td>
      <td>2403610.0</td>
      <td>2847977.0</td>
      <td>3350235.0</td>
      <td>4127185.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿曼</th>
      <td>135600954.0</td>
      <td>189557591.0</td>
      <td>225734424.0</td>
      <td>238407156.0</td>
      <td>NaN</td>
      <td>21357865.0</td>
      <td>28653171.0</td>
      <td>33660376.0</td>
      <td>34659784.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿根廷</th>
      <td>309991912.0</td>
      <td>286257521.0</td>
      <td>372990415.0</td>
      <td>281128000.0</td>
      <td>NaN</td>
      <td>48969207.0</td>
      <td>43275657.0</td>
      <td>55824812.0</td>
      <td>41022170.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿联酋</th>
      <td>1193014456.0</td>
      <td>823454470.0</td>
      <td>712206977.0</td>
      <td>952500882.0</td>
      <td>NaN</td>
      <td>188429638.0</td>
      <td>124239824.0</td>
      <td>106442204.0</td>
      <td>138987540.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿鲁巴</th>
      <td>957131.0</td>
      <td>1395381.0</td>
      <td>681048.0</td>
      <td>1318400.0</td>
      <td>NaN</td>
      <td>150879.0</td>
      <td>210425.0</td>
      <td>101986.0</td>
      <td>192587.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>非洲其他国家(地区)</th>
      <td>7889.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>267742.0</td>
      <td>NaN</td>
      <td>1234.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>38884.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>韩国</th>
      <td>8020733996.0</td>
      <td>7496528789.0</td>
      <td>8879446365.0</td>
      <td>9743338361.0</td>
      <td>NaN</td>
      <td>1260537075.0</td>
      <td>1132047436.0</td>
      <td>1329078925.0</td>
      <td>1421146411.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>香港</th>
      <td>2274336943.0</td>
      <td>3488621583.0</td>
      <td>2766353248.0</td>
      <td>2707904465.0</td>
      <td>NaN</td>
      <td>358965098.0</td>
      <td>527087334.0</td>
      <td>413866034.0</td>
      <td>395300763.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马尔代夫</th>
      <td>3592615.0</td>
      <td>6792206.0</td>
      <td>7966228.0</td>
      <td>17103749.0</td>
      <td>NaN</td>
      <td>568098.0</td>
      <td>1021543.0</td>
      <td>1190580.0</td>
      <td>2489379.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马拉维</th>
      <td>5879389.0</td>
      <td>8740448.0</td>
      <td>8189092.0</td>
      <td>13573887.0</td>
      <td>NaN</td>
      <td>925686.0</td>
      <td>1319809.0</td>
      <td>1221146.0</td>
      <td>1975264.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马提尼克</th>
      <td>1211668.0</td>
      <td>3811501.0</td>
      <td>2321380.0</td>
      <td>2290510.0</td>
      <td>NaN</td>
      <td>190645.0</td>
      <td>572078.0</td>
      <td>346855.0</td>
      <td>335346.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马来西亚</th>
      <td>1141694387.0</td>
      <td>1303064280.0</td>
      <td>878567487.0</td>
      <td>1361775021.0</td>
      <td>NaN</td>
      <td>180056244.0</td>
      <td>196803568.0</td>
      <td>131636397.0</td>
      <td>199199215.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马约特</th>
      <td>347632.0</td>
      <td>734142.0</td>
      <td>1066869.0</td>
      <td>924038.0</td>
      <td>NaN</td>
      <td>55040.0</td>
      <td>110883.0</td>
      <td>160896.0</td>
      <td>134198.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马绍尔群岛</th>
      <td>2830934.0</td>
      <td>2944631.0</td>
      <td>5817696.0</td>
      <td>4790225.0</td>
      <td>NaN</td>
      <td>444204.0</td>
      <td>444935.0</td>
      <td>868649.0</td>
      <td>714119.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马耳他</th>
      <td>9363228.0</td>
      <td>9245801.0</td>
      <td>178553131.0</td>
      <td>13683879.0</td>
      <td>NaN</td>
      <td>1498374.0</td>
      <td>1402725.0</td>
      <td>26737062.0</td>
      <td>2024719.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马达加斯加</th>
      <td>24818708.0</td>
      <td>35245201.0</td>
      <td>49130008.0</td>
      <td>74681785.0</td>
      <td>NaN</td>
      <td>3900263.0</td>
      <td>5328618.0</td>
      <td>7352426.0</td>
      <td>10890994.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马里</th>
      <td>40148743.0</td>
      <td>9284273.0</td>
      <td>4147218.0</td>
      <td>10575383.0</td>
      <td>NaN</td>
      <td>6278351.0</td>
      <td>1402393.0</td>
      <td>621575.0</td>
      <td>1551248.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>黎巴嫩</th>
      <td>65495471.0</td>
      <td>66171919.0</td>
      <td>55743102.0</td>
      <td>73759240.0</td>
      <td>NaN</td>
      <td>10416166.0</td>
      <td>9977776.0</td>
      <td>8324045.0</td>
      <td>10791829.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>黑山</th>
      <td>2850738.0</td>
      <td>5596435.0</td>
      <td>5147383.0</td>
      <td>9444380.0</td>
      <td>NaN</td>
      <td>453494.0</td>
      <td>846469.0</td>
      <td>770300.0</td>
      <td>1384076.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>2788 rows × 10 columns</p>
</div>

In [39]:
df1 = pd.pivot_table(df, values=['USD', 'RMB'], index=['MONTH', 'COUNTRY'], 
                     columns=['YEAR'], aggfunc=np.sum)

df0 = df1.query('COUNTRY == ["美国"]')['USD']['2015']
print(df0)

MONTH  COUNTRY
1      美国         2036455362.0
10     美国         2377931455.0
11     美国         3052724335.0
12     美国         2711057131.0
2      美国         1800299509.0
3      美国         1433013025.0
4      美国         2154591982.0
5      美国         2122758258.0
6      美国         2124273327.0
7      美国         2185935479.0
8      美国         2106440641.0
9      美国         2092380152.0
Name: 2015, dtype: object

In [37]:
df1 = pd.pivot_table(df, values=['USD', 'RMB'], index=['MONTH'], 
                     columns=['COUNTRY', 'YEAR'], aggfunc=np.sum)
# df0 = df1.query('COUNTRY == ["美国"]')['USD']['2015']
print(df1['USD']['美国']['2015'])

MONTH
1     2036455362.0
10    2377931455.0
11    3052724335.0
12    2711057131.0
2     1800299509.0
3     1433013025.0
4     2154591982.0
5     2122758258.0
6     2124273327.0
7     2185935479.0
8     2106440641.0
9     2092380152.0
Name: 2015, dtype: object

In [40]:
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="5" halign="left">RMB</th>
      <th colspan="5" halign="left">USD</th>
    </tr>
    <tr>
      <th></th>
      <th>YEAR</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
    </tr>
    <tr>
      <th>MONTH</th>
      <th>COUNTRY</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="30" valign="top">1</th>
      <th>不丹</th>
      <td>NaN</td>
      <td>173400.0</td>
      <td>NaN</td>
      <td>348737.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26831.0</td>
      <td>NaN</td>
      <td>52629.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>东帝汶</th>
      <td>6944634.0</td>
      <td>6766136.0</td>
      <td>11195538.0</td>
      <td>9417091.0</td>
      <td>7895342.0</td>
      <td>1133741.0</td>
      <td>1049125.0</td>
      <td>1618830.0</td>
      <td>1425363.0</td>
      <td>1144017.0</td>
    </tr>
    <tr>
      <th>中非</th>
      <td>301833.0</td>
      <td>703315.0</td>
      <td>699391.0</td>
      <td>NaN</td>
      <td>1731747.0</td>
      <td>49370.0</td>
      <td>109060.0</td>
      <td>101185.0</td>
      <td>NaN</td>
      <td>251455.0</td>
    </tr>
    <tr>
      <th>丹麦</th>
      <td>544728586.0</td>
      <td>386098895.0</td>
      <td>582307220.0</td>
      <td>668972455.0</td>
      <td>682778308.0</td>
      <td>89007618.0</td>
      <td>59843878.0</td>
      <td>83962790.0</td>
      <td>101355679.0</td>
      <td>98972448.0</td>
    </tr>
    <tr>
      <th>乌克兰</th>
      <td>153671817.0</td>
      <td>171862440.0</td>
      <td>316436457.0</td>
      <td>285414271.0</td>
      <td>294182123.0</td>
      <td>25114691.0</td>
      <td>26688529.0</td>
      <td>45677465.0</td>
      <td>43203781.0</td>
      <td>42679584.0</td>
    </tr>
    <tr>
      <th>乌兹别克斯坦</th>
      <td>120249540.0</td>
      <td>57046705.0</td>
      <td>114381919.0</td>
      <td>131317079.0</td>
      <td>194668633.0</td>
      <td>19634354.0</td>
      <td>8886125.0</td>
      <td>16541216.0</td>
      <td>19855106.0</td>
      <td>28181957.0</td>
    </tr>
    <tr>
      <th>乌干达</th>
      <td>22206908.0</td>
      <td>28885302.0</td>
      <td>28036710.0</td>
      <td>42655369.0</td>
      <td>29333814.0</td>
      <td>3628639.0</td>
      <td>4491276.0</td>
      <td>4042354.0</td>
      <td>6450808.0</td>
      <td>4252166.0</td>
    </tr>
    <tr>
      <th>乌拉圭</th>
      <td>75668126.0</td>
      <td>72688769.0</td>
      <td>76845104.0</td>
      <td>49110418.0</td>
      <td>53208527.0</td>
      <td>12365128.0</td>
      <td>11265974.0</td>
      <td>11085350.0</td>
      <td>7430304.0</td>
      <td>7718721.0</td>
    </tr>
    <tr>
      <th>乍得</th>
      <td>11079213.0</td>
      <td>821342.0</td>
      <td>1421743.0</td>
      <td>7540813.0</td>
      <td>13115123.0</td>
      <td>1810166.0</td>
      <td>127505.0</td>
      <td>204601.0</td>
      <td>1141337.0</td>
      <td>1904345.0</td>
    </tr>
    <tr>
      <th>也门</th>
      <td>57379520.0</td>
      <td>41747344.0</td>
      <td>64604730.0</td>
      <td>48191372.0</td>
      <td>118327914.0</td>
      <td>9373234.0</td>
      <td>6481574.0</td>
      <td>9322066.0</td>
      <td>7298678.0</td>
      <td>17144180.0</td>
    </tr>
    <tr>
      <th>亚洲其他国家(地区)</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2140215.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>307944.0</td>
    </tr>
    <tr>
      <th>亚美尼亚</th>
      <td>2427868.0</td>
      <td>3405888.0</td>
      <td>6481367.0</td>
      <td>8473200.0</td>
      <td>15992859.0</td>
      <td>396170.0</td>
      <td>529595.0</td>
      <td>933761.0</td>
      <td>1281840.0</td>
      <td>2321566.0</td>
    </tr>
    <tr>
      <th>以色列</th>
      <td>320131245.0</td>
      <td>328575822.0</td>
      <td>483202712.0</td>
      <td>366415072.0</td>
      <td>475913002.0</td>
      <td>52318437.0</td>
      <td>51038291.0</td>
      <td>69721779.0</td>
      <td>55447967.0</td>
      <td>69058428.0</td>
    </tr>
    <tr>
      <th>伊拉克</th>
      <td>290797181.0</td>
      <td>205341236.0</td>
      <td>329948995.0</td>
      <td>268451057.0</td>
      <td>347573163.0</td>
      <td>47514062.0</td>
      <td>31858673.0</td>
      <td>47583467.0</td>
      <td>40631638.0</td>
      <td>50392589.0</td>
    </tr>
    <tr>
      <th>伊朗</th>
      <td>636617412.0</td>
      <td>543233524.0</td>
      <td>762500344.0</td>
      <td>583612951.0</td>
      <td>378617913.0</td>
      <td>103475891.0</td>
      <td>84240967.0</td>
      <td>110181220.0</td>
      <td>88569792.0</td>
      <td>54996801.0</td>
    </tr>
    <tr>
      <th>伯利兹</th>
      <td>1749621.0</td>
      <td>2087290.0</td>
      <td>2751942.0</td>
      <td>2467166.0</td>
      <td>4354326.0</td>
      <td>285773.0</td>
      <td>322885.0</td>
      <td>396475.0</td>
      <td>373127.0</td>
      <td>631314.0</td>
    </tr>
    <tr>
      <th>佛得角</th>
      <td>2952571.0</td>
      <td>3552385.0</td>
      <td>4869069.0</td>
      <td>12791926.0</td>
      <td>4570268.0</td>
      <td>477086.0</td>
      <td>550822.0</td>
      <td>707606.0</td>
      <td>1946434.0</td>
      <td>662675.0</td>
    </tr>
    <tr>
      <th>俄罗斯联邦</th>
      <td>1122079434.0</td>
      <td>1270743641.0</td>
      <td>3048256951.0</td>
      <td>1882993996.0</td>
      <td>2191414450.0</td>
      <td>183623724.0</td>
      <td>197222867.0</td>
      <td>439448898.0</td>
      <td>285094023.0</td>
      <td>317852895.0</td>
    </tr>
    <tr>
      <th>保加利亚</th>
      <td>41755748.0</td>
      <td>39327126.0</td>
      <td>64302206.0</td>
      <td>55075540.0</td>
      <td>59808024.0</td>
      <td>6818663.0</td>
      <td>6101059.0</td>
      <td>9294121.0</td>
      <td>8337201.0</td>
      <td>8682969.0</td>
    </tr>
    <tr>
      <th>克罗地亚</th>
      <td>40585915.0</td>
      <td>23896583.0</td>
      <td>47477958.0</td>
      <td>51170069.0</td>
      <td>70226073.0</td>
      <td>6621855.0</td>
      <td>3708980.0</td>
      <td>6849946.0</td>
      <td>7747710.0</td>
      <td>10183412.0</td>
    </tr>
    <tr>
      <th>冈比亚</th>
      <td>50653272.0</td>
      <td>48274709.0</td>
      <td>36851043.0</td>
      <td>96231044.0</td>
      <td>109340086.0</td>
      <td>8276022.0</td>
      <td>7494679.0</td>
      <td>5323605.0</td>
      <td>14570943.0</td>
      <td>15857108.0</td>
    </tr>
    <tr>
      <th>冰岛</th>
      <td>3492602.0</td>
      <td>2428172.0</td>
      <td>5773255.0</td>
      <td>4720008.0</td>
      <td>7206207.0</td>
      <td>568900.0</td>
      <td>377244.0</td>
      <td>832756.0</td>
      <td>714299.0</td>
      <td>1044528.0</td>
    </tr>
    <tr>
      <th>几内亚</th>
      <td>40476975.0</td>
      <td>59469308.0</td>
      <td>118261779.0</td>
      <td>136888267.0</td>
      <td>137772677.0</td>
      <td>6615488.0</td>
      <td>9228422.0</td>
      <td>17079394.0</td>
      <td>20723877.0</td>
      <td>19972186.0</td>
    </tr>
    <tr>
      <th>几内亚比绍</th>
      <td>119192.0</td>
      <td>50408.0</td>
      <td>433195.0</td>
      <td>1271656.0</td>
      <td>2118360.0</td>
      <td>19496.0</td>
      <td>7800.0</td>
      <td>62340.0</td>
      <td>192469.0</td>
      <td>307596.0</td>
    </tr>
    <tr>
      <th>列支敦士登</th>
      <td>NaN</td>
      <td>11903.0</td>
      <td>NaN</td>
      <td>131282.0</td>
      <td>5495.0</td>
      <td>NaN</td>
      <td>1842.0</td>
      <td>NaN</td>
      <td>19899.0</td>
      <td>791.0</td>
    </tr>
    <tr>
      <th>刚果(布)</th>
      <td>100500954.0</td>
      <td>44769352.0</td>
      <td>32607371.0</td>
      <td>42894226.0</td>
      <td>20381588.0</td>
      <td>16413459.0</td>
      <td>6939846.0</td>
      <td>4707580.0</td>
      <td>6490819.0</td>
      <td>2956194.0</td>
    </tr>
    <tr>
      <th>刚果(金)</th>
      <td>93675522.0</td>
      <td>37753024.0</td>
      <td>57627925.0</td>
      <td>69186627.0</td>
      <td>63587280.0</td>
      <td>15309251.0</td>
      <td>5867471.0</td>
      <td>8332318.0</td>
      <td>10466911.0</td>
      <td>9218896.0</td>
    </tr>
    <tr>
      <th>利比亚</th>
      <td>43825000.0</td>
      <td>50397450.0</td>
      <td>211634761.0</td>
      <td>40625002.0</td>
      <td>126991353.0</td>
      <td>7159961.0</td>
      <td>7839007.0</td>
      <td>30489174.0</td>
      <td>6147858.0</td>
      <td>18421751.0</td>
    </tr>
    <tr>
      <th>利比里亚</th>
      <td>20583436.0</td>
      <td>18434393.0</td>
      <td>155903630.0</td>
      <td>18063213.0</td>
      <td>23707182.0</td>
      <td>3318500.0</td>
      <td>2872679.0</td>
      <td>22439978.0</td>
      <td>2734042.0</td>
      <td>3438664.0</td>
    </tr>
    <tr>
      <th>前南马其顿</th>
      <td>4373026.0</td>
      <td>4499403.0</td>
      <td>5156039.0</td>
      <td>4231995.0</td>
      <td>10526159.0</td>
      <td>714346.0</td>
      <td>697590.0</td>
      <td>744186.0</td>
      <td>639709.0</td>
      <td>1527497.0</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="30" valign="top">9</th>
      <th>蒙特塞拉特</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>124769.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>18120.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>西撒哈拉</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>西班牙</th>
      <td>813158117.0</td>
      <td>941762031.0</td>
      <td>852336031.0</td>
      <td>1193044781.0</td>
      <td>NaN</td>
      <td>128735315.0</td>
      <td>142218938.0</td>
      <td>127614167.0</td>
      <td>174362962.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>诺福克岛</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>贝宁</th>
      <td>213741531.0</td>
      <td>144233856.0</td>
      <td>211831365.0</td>
      <td>244532015.0</td>
      <td>NaN</td>
      <td>33787951.0</td>
      <td>21734358.0</td>
      <td>31680335.0</td>
      <td>35718195.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>赞比亚</th>
      <td>31557132.0</td>
      <td>18762860.0</td>
      <td>46310108.0</td>
      <td>38502221.0</td>
      <td>NaN</td>
      <td>5054792.0</td>
      <td>2832634.0</td>
      <td>6915862.0</td>
      <td>5606118.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>赤道几内亚</th>
      <td>8044454.0</td>
      <td>8392556.0</td>
      <td>30394136.0</td>
      <td>9379857.0</td>
      <td>NaN</td>
      <td>1280171.0</td>
      <td>1266117.0</td>
      <td>4516534.0</td>
      <td>1372687.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>越南</th>
      <td>1272413855.0</td>
      <td>1481604949.0</td>
      <td>1772777841.0</td>
      <td>2514959425.0</td>
      <td>NaN</td>
      <td>200113422.0</td>
      <td>223823777.0</td>
      <td>264999476.0</td>
      <td>366948159.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿塞拜疆</th>
      <td>10555996.0</td>
      <td>23142431.0</td>
      <td>21069946.0</td>
      <td>58290772.0</td>
      <td>NaN</td>
      <td>1683106.0</td>
      <td>3485250.0</td>
      <td>3144661.0</td>
      <td>8501661.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿富汗</th>
      <td>28784283.0</td>
      <td>28794637.0</td>
      <td>29991967.0</td>
      <td>41352191.0</td>
      <td>NaN</td>
      <td>4541557.0</td>
      <td>4346465.0</td>
      <td>4481351.0</td>
      <td>6013709.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿尔及利亚</th>
      <td>269212826.0</td>
      <td>262341241.0</td>
      <td>180811126.0</td>
      <td>367843014.0</td>
      <td>NaN</td>
      <td>42638459.0</td>
      <td>39573485.0</td>
      <td>27051414.0</td>
      <td>53780602.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿尔巴尼亚</th>
      <td>15140127.0</td>
      <td>18843886.0</td>
      <td>22422167.0</td>
      <td>28149683.0</td>
      <td>NaN</td>
      <td>2403610.0</td>
      <td>2847977.0</td>
      <td>3350235.0</td>
      <td>4127185.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿曼</th>
      <td>135600954.0</td>
      <td>189557591.0</td>
      <td>225734424.0</td>
      <td>238407156.0</td>
      <td>NaN</td>
      <td>21357865.0</td>
      <td>28653171.0</td>
      <td>33660376.0</td>
      <td>34659784.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿根廷</th>
      <td>309991912.0</td>
      <td>286257521.0</td>
      <td>372990415.0</td>
      <td>281128000.0</td>
      <td>NaN</td>
      <td>48969207.0</td>
      <td>43275657.0</td>
      <td>55824812.0</td>
      <td>41022170.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿联酋</th>
      <td>1193014456.0</td>
      <td>823454470.0</td>
      <td>712206977.0</td>
      <td>952500882.0</td>
      <td>NaN</td>
      <td>188429638.0</td>
      <td>124239824.0</td>
      <td>106442204.0</td>
      <td>138987540.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>阿鲁巴</th>
      <td>957131.0</td>
      <td>1395381.0</td>
      <td>681048.0</td>
      <td>1318400.0</td>
      <td>NaN</td>
      <td>150879.0</td>
      <td>210425.0</td>
      <td>101986.0</td>
      <td>192587.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>非洲其他国家(地区)</th>
      <td>7889.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>267742.0</td>
      <td>NaN</td>
      <td>1234.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>38884.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>韩国</th>
      <td>8020733996.0</td>
      <td>7496528789.0</td>
      <td>8879446365.0</td>
      <td>9743338361.0</td>
      <td>NaN</td>
      <td>1260537075.0</td>
      <td>1132047436.0</td>
      <td>1329078925.0</td>
      <td>1421146411.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>香港</th>
      <td>2274336943.0</td>
      <td>3488621583.0</td>
      <td>2766353248.0</td>
      <td>2707904465.0</td>
      <td>NaN</td>
      <td>358965098.0</td>
      <td>527087334.0</td>
      <td>413866034.0</td>
      <td>395300763.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马尔代夫</th>
      <td>3592615.0</td>
      <td>6792206.0</td>
      <td>7966228.0</td>
      <td>17103749.0</td>
      <td>NaN</td>
      <td>568098.0</td>
      <td>1021543.0</td>
      <td>1190580.0</td>
      <td>2489379.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马拉维</th>
      <td>5879389.0</td>
      <td>8740448.0</td>
      <td>8189092.0</td>
      <td>13573887.0</td>
      <td>NaN</td>
      <td>925686.0</td>
      <td>1319809.0</td>
      <td>1221146.0</td>
      <td>1975264.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马提尼克</th>
      <td>1211668.0</td>
      <td>3811501.0</td>
      <td>2321380.0</td>
      <td>2290510.0</td>
      <td>NaN</td>
      <td>190645.0</td>
      <td>572078.0</td>
      <td>346855.0</td>
      <td>335346.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马来西亚</th>
      <td>1141694387.0</td>
      <td>1303064280.0</td>
      <td>878567487.0</td>
      <td>1361775021.0</td>
      <td>NaN</td>
      <td>180056244.0</td>
      <td>196803568.0</td>
      <td>131636397.0</td>
      <td>199199215.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马约特</th>
      <td>347632.0</td>
      <td>734142.0</td>
      <td>1066869.0</td>
      <td>924038.0</td>
      <td>NaN</td>
      <td>55040.0</td>
      <td>110883.0</td>
      <td>160896.0</td>
      <td>134198.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马绍尔群岛</th>
      <td>2830934.0</td>
      <td>2944631.0</td>
      <td>5817696.0</td>
      <td>4790225.0</td>
      <td>NaN</td>
      <td>444204.0</td>
      <td>444935.0</td>
      <td>868649.0</td>
      <td>714119.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马耳他</th>
      <td>9363228.0</td>
      <td>9245801.0</td>
      <td>178553131.0</td>
      <td>13683879.0</td>
      <td>NaN</td>
      <td>1498374.0</td>
      <td>1402725.0</td>
      <td>26737062.0</td>
      <td>2024719.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马达加斯加</th>
      <td>24818708.0</td>
      <td>35245201.0</td>
      <td>49130008.0</td>
      <td>74681785.0</td>
      <td>NaN</td>
      <td>3900263.0</td>
      <td>5328618.0</td>
      <td>7352426.0</td>
      <td>10890994.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>马里</th>
      <td>40148743.0</td>
      <td>9284273.0</td>
      <td>4147218.0</td>
      <td>10575383.0</td>
      <td>NaN</td>
      <td>6278351.0</td>
      <td>1402393.0</td>
      <td>621575.0</td>
      <td>1551248.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>黎巴嫩</th>
      <td>65495471.0</td>
      <td>66171919.0</td>
      <td>55743102.0</td>
      <td>73759240.0</td>
      <td>NaN</td>
      <td>10416166.0</td>
      <td>9977776.0</td>
      <td>8324045.0</td>
      <td>10791829.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>黑山</th>
      <td>2850738.0</td>
      <td>5596435.0</td>
      <td>5147383.0</td>
      <td>9444380.0</td>
      <td>NaN</td>
      <td>453494.0</td>
      <td>846469.0</td>
      <td>770300.0</td>
      <td>1384076.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>2788 rows × 10 columns</p>
</div>

In [38]:
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="10" halign="left">RMB</th>
      <th>...</th>
      <th colspan="10" halign="left">USD</th>
    </tr>
    <tr>
      <th>COUNTRY</th>
      <th colspan="5" halign="left">不丹</th>
      <th colspan="5" halign="left">东帝汶</th>
      <th>...</th>
      <th colspan="5" halign="left">黎巴嫩</th>
      <th colspan="5" halign="left">黑山</th>
    </tr>
    <tr>
      <th>YEAR</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>...</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
    </tr>
    <tr>
      <th>MONTH</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>173400.0</td>
      <td>NaN</td>
      <td>348737.0</td>
      <td>NaN</td>
      <td>6944634.0</td>
      <td>6766136.0</td>
      <td>11195538.0</td>
      <td>9417091.0</td>
      <td>7895342.0</td>
      <td>...</td>
      <td>12857569.0</td>
      <td>16615257.0</td>
      <td>15827937.0</td>
      <td>11011775.0</td>
      <td>11161173.0</td>
      <td>429727.0</td>
      <td>371609.0</td>
      <td>1863100.0</td>
      <td>649818.0</td>
      <td>892165.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>179931.0</td>
      <td>121781.0</td>
      <td>100790.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>3541918.0</td>
      <td>19303844.0</td>
      <td>14106697.0</td>
      <td>9704434.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>11683536.0</td>
      <td>10695178.0</td>
      <td>13443532.0</td>
      <td>14738488.0</td>
      <td>NaN</td>
      <td>570427.0</td>
      <td>437737.0</td>
      <td>1284824.0</td>
      <td>614067.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>16457.0</td>
      <td>0.0</td>
      <td>270878.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>23195712.0</td>
      <td>11643045.0</td>
      <td>24896456.0</td>
      <td>10320556.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>14884090.0</td>
      <td>12688582.0</td>
      <td>12718104.0</td>
      <td>14409812.0</td>
      <td>NaN</td>
      <td>1073160.0</td>
      <td>676537.0</td>
      <td>661103.0</td>
      <td>591031.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.0</td>
      <td>79410.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>13819534.0</td>
      <td>13090536.0</td>
      <td>7919816.0</td>
      <td>14788400.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>37639308.0</td>
      <td>29724960.0</td>
      <td>14387652.0</td>
      <td>14287621.0</td>
      <td>NaN</td>
      <td>1062668.0</td>
      <td>2230962.0</td>
      <td>1344046.0</td>
      <td>1154593.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>129302.0</td>
      <td>170088.0</td>
      <td>324139.0</td>
      <td>456091.0</td>
      <td>4164828.0</td>
      <td>33597618.0</td>
      <td>3302363.0</td>
      <td>3779316.0</td>
      <td>4946929.0</td>
      <td>...</td>
      <td>14613779.0</td>
      <td>9957226.0</td>
      <td>6374252.0</td>
      <td>11022583.0</td>
      <td>9336323.0</td>
      <td>502771.0</td>
      <td>610891.0</td>
      <td>446437.0</td>
      <td>1453558.0</td>
      <td>790674.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>153236.0</td>
      <td>177022.0</td>
      <td>26380.0</td>
      <td>269074.0</td>
      <td>2364266.0</td>
      <td>4328983.0</td>
      <td>9593872.0</td>
      <td>2325742.0</td>
      <td>6900582.0</td>
      <td>...</td>
      <td>10669083.0</td>
      <td>11637990.0</td>
      <td>11282308.0</td>
      <td>14309759.0</td>
      <td>13282743.0</td>
      <td>320683.0</td>
      <td>223623.0</td>
      <td>608187.0</td>
      <td>1626922.0</td>
      <td>977015.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>113486.0</td>
      <td>5474.0</td>
      <td>177308.0</td>
      <td>641134.0</td>
      <td>60528.0</td>
      <td>7423665.0</td>
      <td>8529288.0</td>
      <td>10324593.0</td>
      <td>11791640.0</td>
      <td>7830296.0</td>
      <td>...</td>
      <td>16839618.0</td>
      <td>11221666.0</td>
      <td>13413234.0</td>
      <td>11273068.0</td>
      <td>13769179.0</td>
      <td>215604.0</td>
      <td>640040.0</td>
      <td>1014198.0</td>
      <td>1947009.0</td>
      <td>735430.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>149862.0</td>
      <td>225344.0</td>
      <td>179840.0</td>
      <td>600997.0</td>
      <td>5984.0</td>
      <td>5362391.0</td>
      <td>3906816.0</td>
      <td>7269755.0</td>
      <td>7528821.0</td>
      <td>4772312.0</td>
      <td>...</td>
      <td>20884198.0</td>
      <td>25345668.0</td>
      <td>11154548.0</td>
      <td>10602719.0</td>
      <td>11127865.0</td>
      <td>336344.0</td>
      <td>833499.0</td>
      <td>974245.0</td>
      <td>1749905.0</td>
      <td>1042158.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>173618.0</td>
      <td>17589.0</td>
      <td>330335.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>7034827.0</td>
      <td>11973700.0</td>
      <td>9211540.0</td>
      <td>5894616.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>13437064.0</td>
      <td>14448492.0</td>
      <td>10342612.0</td>
      <td>10901655.0</td>
      <td>NaN</td>
      <td>556320.0</td>
      <td>1760899.0</td>
      <td>932779.0</td>
      <td>1398274.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.0</td>
      <td>150756.0</td>
      <td>204.0</td>
      <td>208245.0</td>
      <td>NaN</td>
      <td>3672996.0</td>
      <td>21916208.0</td>
      <td>5373569.0</td>
      <td>10170763.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>12033273.0</td>
      <td>13054165.0</td>
      <td>10518422.0</td>
      <td>12612820.0</td>
      <td>NaN</td>
      <td>522213.0</td>
      <td>1239033.0</td>
      <td>1566853.0</td>
      <td>916155.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>287406.0</td>
      <td>248772.0</td>
      <td>648828.0</td>
      <td>225814.0</td>
      <td>NaN</td>
      <td>4991348.0</td>
      <td>6432563.0</td>
      <td>6582336.0</td>
      <td>8535002.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>10080685.0</td>
      <td>12793232.0</td>
      <td>9868813.0</td>
      <td>8211860.0</td>
      <td>NaN</td>
      <td>544929.0</td>
      <td>643710.0</td>
      <td>810944.0</td>
      <td>660676.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.0</td>
      <td>15853.0</td>
      <td>157842.0</td>
      <td>204750.0</td>
      <td>NaN</td>
      <td>3281354.0</td>
      <td>10224181.0</td>
      <td>8877055.0</td>
      <td>11103278.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>10416166.0</td>
      <td>9977776.0</td>
      <td>8324045.0</td>
      <td>10791829.0</td>
      <td>NaN</td>
      <td>453494.0</td>
      <td>846469.0</td>
      <td>770300.0</td>
      <td>1384076.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>12 rows × 2266 columns</p>
</div>

KeyError: '美国'