# 使用Pandas保存dataframe到csv中

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({"one":np.random.rand(4), "two":np.linspace(1,4,4), "three":["zhangsan", "lisi", 999.99, 1]})
df1

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>three</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.094411</td>
      <td>zhangsan</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.126296</td>
      <td>lisi</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.567084</td>
      <td>999.99</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.254371</td>
      <td>1</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

将df1保存到csv文件中。

In [4]:
df1.to_csv('/Users/sunlu/Workspaces/PyCharm/PythonDiary/database/mysql/test.csv',
           encoding = 'utf-8', index = False)