对string字符串按照字符进行分割，并以空格为分隔符拼成新的字符串

In [ ]:
a = "今天天气很好！".decode('utf-8')

In [8]:
for x in a:
    print(x.encode('utf-8'))

今
天
天
气
很
好
！

In [9]:
s = ""
for x in a:
    s = s + " " + x

print s

 今 天 天 气 很 好 ！

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({"col1":np.random.rand(4), 
                    "col2":np.linspace(1,4,4),
                    "col3":["今天天气很好！", "今天星期二。", "今天天气挺冷的。", "到底什么时候开工程技术中心周例会"]})
df1

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.956972</td>
      <td>1.0</td>
      <td>今天天气很好！</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.599153</td>
      <td>2.0</td>
      <td>今天星期二。</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.398044</td>
      <td>3.0</td>
      <td>今天天气挺冷的。</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.802983</td>
      <td>4.0</td>
      <td>到底什么时候开工程技术中心周例会</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
for i in df1['col3']:
    print type(i)

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

In [8]:
col3 = []
for i in df1['col3']:
    s = i.decode('utf-8')
    col3 = col3 + [s]
for i in col3:
    print type(i)
    print i

<type 'unicode'>
今天天气很好！
<type 'unicode'>
今天星期二。
<type 'unicode'>
今天天气挺冷的。
<type 'unicode'>
到底什么时候开工程技术中心周例会

In [5]:
col4 = []
for i in df1["col3"]:
    s = ""
    for j in i:
        s = s + " " + j
    col4 = col4 + [s]

for i in col4:
    print type(i)
    print i

<type 'str'>
 � � � � � � � � � � � � � � � � � � � � �
<type 'str'>
 � � � � � � � � � � � � � � � � � �
<type 'str'>
 � � � � � � � � � � � � � � � � � � � � � � � �
<type 'str'>
 � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � � �

对df1中的col3按照字符分割，以空格作为分隔符，作为新生成的col4

In [7]:
col4 = []
for i in col3:
    s = ""
    for j in i:
        s = s + " " + j
    col4 = col4 + [s]

for i in col4:
    print type(i)
    print i

df1['col4'] = col4
df1

<type 'unicode'>
 今 天 天 气 很 好 ！
<type 'unicode'>
 今 天 星 期 二 。
<type 'unicode'>
 今 天 天 气 挺 冷 的 。
<type 'unicode'>
 到 底 什 么 时 候 开 工 程 技 术 中 心 周 例 会

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
      <th>col4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.956972</td>
      <td>1.0</td>
      <td>今天天气很好！</td>
      <td>今 天 天 气 很 好 ！</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.599153</td>
      <td>2.0</td>
      <td>今天星期二。</td>
      <td>今 天 星 期 二 。</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.398044</td>
      <td>3.0</td>
      <td>今天天气挺冷的。</td>
      <td>今 天 天 气 挺 冷 的 。</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.802983</td>
      <td>4.0</td>
      <td>到底什么时候开工程技术中心周例会</td>
      <td>到 底 什 么 时 候 开 工 程 技 术 中 心 周 例 会</td>
    </tr>
  </tbody>
</table>
</div>